.jumbotron {
    background-image: url(../resources/nyc-banner.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 40vh;    
}

@media only screen and (min-width: 1400px) {
    .jumbotron div.container {
        padding-top: 30px;
        padding-top: 0px 20px 20px 20px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1400px) {
    .jumbotron div.container {
        padding-top: 30px;
        padding-top: 0px 20px 20px 20px;
    }
}

@media only screen and (max-width: 992px) {
    .jumbotron div.container p.lead {
        visibility: hidden;
        background: transparent;
    }
}

div.container h1, p.lead {
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px black;
}
