html, body {
    scrollbar-width: none;
}

body {
    background: rgb(72, 78, 84);
}

.project-card-container {
    margin: auto;
}

.card-header {
    text-align: center;
}

.project-card {
    margin: 3vh 0;
    height: 50vh;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid black;
    transition: 0.3s;
}

.project-card:hover {
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 153, 50%), -3px -3px 3px 3px rgba(255, 255, 153, 30%);
}

.project-card::-webkit-scrollbar {
    display: none;
}

.project-media {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.view-btn-lg {
    width: 33%;
    display: inline-table;
    vertical-align: bottom;
    margin: 10px auto;
}

.view-btn-sm {
    width: 50px;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
}

.view-icon {
    fill: white;
}

.modal-header {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 30%);
}

.carousel-caption {
    background: rgba(0, 0, 0, 40%);
    border-radius: 30px;
    box-shadow: 2px 2px 3px 1px black inset, -2px -2px 3px 1px black inset;
    margin-bottom: 20px;
}


/* Standard Resolutions */
@media only screen and (max-width: 1359px) {
    .view-btn-lg {
        display: none;
    }
    .view-btn-sm {
        visibility: initial;
        position: initial;
        width: 80%;
        margin: 0 auto;
    }
    .project-card {
        padding-top: 0%;
    }
    .project-media {
        width: 100%;
    }
}

/* Mobile Resolutions */
@media only screen and (max-width: 780px) {
    .project-media {
        visibility: 100%;
    }
}